

/* Importar fuentes */

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cherry+Bomb+One&family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cherry+Bomb+One&family=Covered+By+Your+Grace&family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

/* Fonts */

h1.titulos {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 100px;
    justify-content: center;
    align-items: center;
  }
  


p.body {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-size: 30px;
    justify-content: center;
    align-items: center;
  }

/* MAPU */
.MAPU {
    max-width: 100px;
}

.patronMAPU {
    max-width: 800px;
}

.recuadro_mapu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    max-width: 2000px;
    margin: 40px auto;
    gap: 40px;
  }

  .columna {
    flex: 1;
  }
  
  .columna.izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* NUVO */

  .Empaque_NUVO {
    max-width: 200px;
  }

  .LogoNUVO{
    max-width: 200px;
  }
  
  .Macetas {
    max-width: 800px;
  }

  .recuadro_nuvo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    max-width: 2000px;
    margin: 40px auto;
    gap: 40px;
  }

  .columna_2 {
    flex: 1;
  }
  
  .columna_izquierda_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

   /* Emocionario*/
   
   .libro_portada {
    max-width: 200px;
  }
   
  .contraportada {
    max-width: 200px;
  }

  .Bolsa {
    max-width: 200px;
  }
   
  .libro{
    max-width: 200px;
  }

  .recuadro_emocionario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    max-width: 2000px;
    margin: 10rem;
    gap: 40px;
  }

  .columna_4 {
    flex: 1;
  }
  
  .columna_izquierda_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



   /* Ruta RTP*/
   .parabus {
    max-width: 200px;
  }

  .Mapaubicación {
    max-width: 200px;
  }

  .logoRTP {
    max-width: 200px;
  }

  
  .logoRTP2 {
    max-width: 200px;
  }

    
  .reticula {
    max-width: 200px;
  }

  .recuadro_RutaRTP {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    max-width: 2000px;
    margin: 10rem;
    gap: 40px;
  }

  .columna_5 {
    flex: 1;
  }
  
  .columna_izquierda_5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }








   /* Estudihambre */

   .personajes{
    max-width: 200px;
  }
  
  .tarjetas {
    max-width: 200px;
  }

  .caja_con_tarjetas {
    max-width: 200px;
  }
  
  .caja {
    max-width: 200px;
  }

  .tablero {
    max-width: 200px;
  }
  
  .recuadro_HoradeComer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    max-width: 2000px;
    margin: 40px auto;
    gap: 40px;
  }

  .columna {
    flex: 1;
  }
  
  .columna_izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  /* Animacion */

    .bocetos {
      max-width: 25%;
    }

    .Iris_De_lado {
      max-width: 25%;
    }

    .Iris_Frontal{
      max-width: 25%;
    }

    .EscCastillo {
      max-width: 25%;
    }

    .Estrellas {
      max-width: 25%;
    }

    .castillo {
      max-width: 25%;
    }
    
    
  .recuadro_animacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    max-width: 2000px;
    margin: 40px auto;
    gap: 40px;
  }

  .columna_6 {
    flex: 1;
  }
  
  .columna.izquierda_6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }





