

/* Importar fuentes */

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cherry+Bomb+One&family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cherry+Bomb+One&family=Covered+By+Your+Grace&family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

/* Fonts */

h1.titulos {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 3.47vw;
    justify-content: center;
    align-items: center;
  }
  


p.body {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-size: 1.04vw;
    justify-content: center;
    align-items: center;
  }

/* MAPU */
.bi {
  width: 3.47vw;
}


.MAPU {
    width: 3.47vw;
}

.patronMAPU {
    width: 27.78vw;
}


.icono-boton {
  display: inline-block;
  font-size: 3rem; /* Aumenta el tamaño del ícono */
  color: black;
  background-color: white;
}

.icono-boton:hover {
  background-color: white;
  transform: scale(1.1);
}

.icono-boton-derecha {
  display: inline-block;
  font-size: 3rem; /* Aumenta el tamaño del ícono */
  color: black;
  background-color: white;
}

.icono-boton-derecha:hover {
  background-color: white;
  transform: scale(1.1);
} 

.recuadro_mapu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    max-width: 2000px;
    margin: 40px auto;
    gap: 40px;
  }

  .columna {
    flex: 1;
  }
  
  .columna.izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* NUVO */


  .LogoNUVO{
    width: 35.94vw;
  }
.Empaque_NUVO {
    width: 35.94vw;
  }

.Macetas {
    width: 35.94vw;
    max-width: none;
  }

.nuvo_recuadro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    max-width: 2000px;
    margin: 40px auto;
    gap: 40px;
  }

  .columna_2 {
    flex: 1;
  }
  
  .columna_izquierda_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

   /* Emocionario*/
   
   .libro_portada {
    width: 27.78vw;
  }
   
  .contraportada {
    width: 27.78vw;
  }

  .Bolsa {
    width: 27.78vw;
  }
   
  .libro{
    width: 27.78vw;
  }

  .recuadro_emocionario {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 30px;
    max-width: 2000px;
    margin: 40px auto;
    gap: 40px;
  }

  .columna3 {
    flex: 1;
  }
  
  .izquierda3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .derecha3 {
    padding-left: 10px;
  }

  img {
    max-width: 100%; /* asegúrate que las imágenes no rompan el layout */
    height: auto;
    display: block;
    margin-bottom: 10px;
  }

   /* Ruta RTP*/
   .parabus {
    width: 6.94vw;
    max-width: none;
  }

  .Mapaubicación {
    width: 27.78vw;
  }

  .logoRTP {
    width: 6.94vw;
  }

  
  .logoRTP2 {
    width: 6.94vw;
    max-width: none;
    height: auto;
  }

    
  .recuadro_RutaRTP {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    max-width: 2000px;
    margin: 10rem;
    gap: 40px;
  }

  .columna_deerecha_5 {
    flex: 0 0 auto;
  }
  
  .columna_izquierda_5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

   /* Estudihambre */

   .personajes{
    width: 6.94vw;
  }
  
  .tarjetas {
    max-width: 12.5rem;
  }

  .caja_con_tarjetas {
    width: 6.94vw;
  }
  
  .caja {
    width: 6.94vw;
  }

  .tablero {
    width: 6.94vw;
  }
  
  .recuadro_HoradeComer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    max-width: 2000px;
    margin: 40px auto;
    gap: 40px;
  }

  .columna {
    flex: 1;
  }
  
  .columna_izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  /* Animacion */

    .bocetos {
      max-width: 200px;
    }

    .Iris_De_lado {
      max-width: 200px;
    }

    .Iris_Frontal{
      max-width: 200px;
    }

    .EscCastillo {
      max-width: 200px;
    }

    .Estrellas {
      max-width: 200px;
    }

    .castillo {
      max-width: 200px;
    }
    
    .iris-container {
      display: flex;
      gap: 20px; /* espacio entre Iris de lado y frontal */
    }
    
  .recuadro_animacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    max-width: 2000px;
    margin: 40px auto;
    gap: 40px;
  }

  .columna_derecha_6 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  
  .columna_izquierda_6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }





